{% for folder in app.user.folders %}
    {% if folder.documents.contains(document) %}
        <div class="f active" data-add-doc-to-folder="{{ path('nk_folder_add', {id:folder.id, docId:document.id}) }}">
    {% else %}
        <div class="f">
    {% endif %}
        <i class="icon i-ok-2"></i>
        <i class="icon i-folder-open"></i>
        {{ folder }}
    </div>
{% endfor %}