{% extends 'nkDocumentBundle:Document:layout.html.twig' %}
{% block title %}Editer un document - {{ parent() }}{% endblock %}

{% block tools %}
    <li>
        <a href="{{ path('nk_document_show', {id:document.id, slug:document.slug}) }}">
            <i class="fa fa-chevron-left"></i>
            Annuler
        </a>
    </li>
{% endblock %}

{% block body %}
    <h1>Editer "{{ document.subject }}"</h1>
    {% include 'nkDocumentBundle:Document:form.html.twig' %}
{% endblock %}