<form method="post">
    {{ form_widget(form) }}
    <div class="control-group actions">
        <div class="controls">
            <button class="btn" type="submit">
                <i class="fa fa-ok"></i>
                Enregistrer
            </button>
        </div>
    </div>
</form>