{% extends '::base.html.twig' %}
{% block title %}Nouveau document - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Nouveau document</h1>
    {% include 'nkDocumentBundle:Document:form.html.twig' %}
{% endblock %}