{% extends '::base.html.twig' %}

{% block body %}
    <div class="row-gaped">
        <div class="col4">
            <div class="col-title">
                <i class="icon i-tint"></i>
                <h1>Simple</h1>
            </div>
            <p class="txt-large">Un seul champ de recherche pour les gouverner tous. Avec son design épuré, retrouvez en un clic ce dont vous avez besoin pour le contrôle de demain.</p>
        </div>
        <div class="col4">
            <div class="col-title">
                <i class="icon i-magic"></i>
                <h1>Prédiction</h1>
            </div>
            <p class="txt-large">Recevez directement dans vos mails les supports de révision pour vos contrôles 1 semaine à 1 mois à l'avance.</p>
        </div>
        <div class="col4">
            <div class="col-title">
                <i class="icon i-charts"></i>
                <h1>Productivité</h1>
            </div>
            <p class="txt-large">Organisez les documents que vous utilisez dans des compils et téléchargez tout d'un coup. Ajoutez les compils de vos amis à votre collection.</p>
        </div>
    </div>
    <a href="https://bde.esiee.fr/annales_old/" target="_blank">Ancien site d'annales</a>
{% endblock %}
