imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:      { fallback: "%locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form:
        resources:
            - ':Form:form_div_layout.html.twig'
    globals:
        piwik_site_id: %piwik_site_id%
        piwik_url: %piwik_url%

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ ]
    read_from:      "%kernel.root_dir%/../www"
    filters:
        cssrewrite: ~
        lessphp:
            apply_to: "\.less$"
            file:     %kernel.root_dir%/../vendor/leafo/lessphp/lessc.inc.php
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: "%kernel.root_dir%/data/data.db3"
        # path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

# FOS UserBundle configuration
fos_user:
    db_driver:      orm
    firewall_name:  main
    user_class:     nk\UserBundle\Entity\User
    profile:
        form:
            type: nk_user_profile
    registration:
        confirmation:
            enabled:    true
        form:
            type: nk_user_registration
    from_email:
        address:        noreply@annales-esiee.com
        sender_name:    Annales ESIEE
    service:
        mailer: fos_user.mailer.twig_swift


# Stof\DoctrineExtensionBundle configuration
stof_doctrine_extensions:
    uploadable:
        default_file_path:       %kernel.root_dir%/../www/uploads
        mime_type_guesser_class: Stof\DoctrineExtensionsBundle\Uploadable\MimeTypeGuesserAdapter
        default_file_info_class: Stof\DoctrineExtensionsBundle\Uploadable\UploadedFileInfo
        validate_writable_directory: false
    orm:
        default:
            sluggable: true
            timestampable: true
            blameable: true
            uploadable: true
            sortable: true

jms_di_extra:
    automatic_controller_injections:
        properties:
            request: @request
            em: @doctrine.orm.entity_manager
            um: @fos_user.user_manager
            paginator: @knp_paginator
            uploadableManager: @stof_doctrine_extensions.uploadable.manager
            mailer: @mailer
            session: @session

jms_security_extra:
    expressions: true

knp_paginator:
    page_range: 5
    default_options:
        page_name: page
    template:
        pagination: ::pagination.html.twig