{% trans_default_domain 'FOSUserBundle' %}

<h1>Changer de mot de passe</h1>

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <div class="control-group actions">
        <div class="controls">
            <button class="btn" type="submit">
                <i class="fa fa-ok"></i>
                {{ 'change_password.submit'|trans }}
            </button>
        </div>
    </div>
</form>
